@import './Variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Inter';
    transition: all .1s ease;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: var(--black-100);
}

h1, h2, h3, h4, h5 {
    font-family: 'Unbounded';
}

.App, #root {
    height: 100%;
}

.ant-form-item-explain-error {
    float:left;
}