.login-form-container {
    border-radius: var(--size-base);
    border: var(--black-80) 1px solid;
    background-color: var(--black-transparent);
    padding: var(--size-base);

    display: flex;
    flex-direction: column;
    gap: var(--size-base);

    backdrop-filter: blur(20px);
}
.login-form-container .title {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}
.login-form-container .footer {
    font-size: var(--size-sm);
    color: var(--ant-color-text, #9e9e9e);
}

.login-form button {
    width: 100%;
}