.login-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.glow-blum {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
.glow-blum.big {
    bottom: -400px;

    width: 1200px;
    height: 800px;

    background-color: var(--accent-100);
    filter: blur(400px);
    z-index: -2;

    animation: glow-move-big infinite 10s ease;
}
.glow-blum.small {
    bottom: -200px;
    
    width: 600px;
    height: 400px;

    background-color: var(--accent-150);
    filter: blur(100px) !important;
    z-index: -1;

    animation: glow-move-small infinite 10s ease;
}

@keyframes glow-move-big {
    0% { opacity: 0.5; filter: blur(200px); }
    50% { opacity: 1; filter: blur(300px); }
    100% { opacity: 0.5; filter: blur(200px); }
}

@keyframes glow-move-big {
    0% { opacity: 0.5; filter: blur(100px); }
    50% { opacity: 1; filter: blur(200px); }
    100% { opacity: 0.5; filter: blur(100px); }
}