.login-form-container {
    color: var(--accent-50);
    border-radius: var(--size-base);
    border: var(--black-80) 1px solid;
    background-color: var(--black-90);
    max-width: 500px;
    padding: var(--size-2xl);
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

